a {
  text-decoration: none;
  color: white;
}

.card {
  position: relative;
  // original background img height is 28rem 
  height: 24rem;
  width: 100%;
  max-width: 55rem;
  margin: 0 2rem 2rem 2rem;
  border-radius: .8rem;
  display: flex;
  overflow: hidden;
  list-style: none;
  background-color: rgb(34, 34, 34);
  cursor: pointer;
  transition: transform .3s;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.card .background-img { 
  image-rendering: optimizeSpeed;
  height: 24rem;
  max-height: 24rem;
  width: 100%;
  max-width: 55rem;
  position: absolute;
  top: 0;
  border-radius: .4rem;
  background-color: black;
  filter: blur(1.5px) grayscale(30%) opacity(40%);
  z-index: 1;
}

.card .poster-img {
  height: 20rem;
  width: 13.3rem;
  align-self: center;
  margin: 0 2rem;
  border-radius: 1rem;
  background-color: #ccc;
  font-size: 1rem;
  z-index: 1;
  box-shadow: 0 0 10px 0px rgba(44, 44, 44, 0.678);
} 

.card .info {
  flex: 3;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: space-around;
  padding-top: 0;
  user-select: none;
  // align-items: center;
  margin: 1rem 2rem 1rem 0;// remove when more items get added
  // background-color: blue;
}

.card .info h1 {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-top: -.5rem;
}


.card .info .overview {
  position: relative;
  overflow: hidden;
  // z-index: 1000;
  &:hover {
    overflow: visible;
  }
  &:hover .dropdown-overview {
    display: block;
    opacity: 1;
    user-select: text;
  }
} 

.card .info .overview p {
  font-size: 1.2rem;
  text-align: justify;
  width: 100%;
  display: -webkit-box;

  // background-color: blue;
  & > .dots {
    // font-size: 2rem;
    font-weight: 600;
    margin-left: .15rem;
    letter-spacing: .2rem;
  }
}

.card .info .overview .dropdown-overview {
  opacity: 0;
  position: absolute;
  top: -.6rem;
  left: -.6rem;
  background-color: var(--background-color);
  // min-width: 160px;
  width: calc(100% + .6rem);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: .6rem;
  z-index: 1;
  transition: opacity .2s;
  border-radius: .4rem;
  max-height: 14rem;
  overflow-y: auto;
}

.card .info .bottom {
  display: flex;
  justify-content: space-between;
}



// MEDIA QUERIES
@media(max-width: 630px) {
  .card {
    margin: 0 0 2rem 0;
  }
  .card .poster-img {
    width: 10rem;
    height: 16rem;
  }
}