.genre-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 2.5rem;
  padding: 0 1rem;
  background-color: #fff;
  color: #000;
  border-radius: .8rem;
  font-size: 1.4rem;
  margin: .4rem .5rem;
}