#landing {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../../assets/background-joker.png') no-repeat right;
    background-color: #030200;
    
    padding-left: 5%;
    padding-top: 1.5rem;
}

#landing .header {
    display: flex;
    align-items: center;
    height: 10vh;
    // background-color: red;
}

#landing .header img {
    height: 100px;
    margin-right: 2rem;
}

#landing .header h1 {
    margin-top: 20px;
    font-size: 4rem;
    text-transform: uppercase;
    background: linear-gradient(
        to right, 
        var(--red-theme) 22%, 
        var(--purple-theme)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#landing .header h1 span {
    margin-left: .3rem;
    font-size: 2.5rem;
}

#landing .content {
    margin-top: 12vh;
    display: flex;
    // background-color: red;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

#landing .content p {
    width: 45vw;
    color: #f2f2f2;
    font-size: 1.8rem;
    text-align: justify;
    line-height: 3.2rem;
}

#landing .content .buttonsContainer {
    display: flex;
    flex-direction: column;
}

#landing .content .buttonsContainer a {
    display: flex;
    width: 35rem;
    height: 8rem;
    background: linear-gradient(
        to right, 
        var(--red-theme) 22%,
        var(--purple-theme),
    );
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 2.5rem;
    // border-radius: .6rem;
}

#landing .content .buttonsContainer a:last-child {  
    background: transparent;
    border: 2px solid;
    border-image-source: linear-gradient(
        to right, 
        var(--red-theme) 22%,
        var(--purple-theme),
    );
    border-image-slice: 1;
}




@media(max-width: 860px) {
    #landing {
        padding-left: 0;
        align-items: center;
        background-position: -700px;
    }
    
    #landing .content p {
        color: #fff;
        width: 60vw;
    }

    #landing .content .buttonsContainer {
        align-items: center;
    }
}

@media(max-width: 464px) {
    #landing {
        // background: none;
        padding: 0;
    }

    #landing .header {
        flex-direction: column;
    }

    #landing .header h1{
        order: -1;
    }

    #landing .content p {
        margin: 0 auto;
        width: 80%;
    }

    #landing .content .buttonsContainer a {
        width: 80%;
    }
}