.details-container {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
};

.details-container section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  // background-color: #aaa;
  margin-bottom: 3rem;
}

.details-container .info-box {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-bottom: 3rem;
  // background-color: azure;
}

.details-container .info-box span{
  color: #aaa;
  margin-bottom: .75rem;
}

.details-container .info-box p {
  margin-left: 0.1rem;
}

.details-container .info-box ul {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  // max-height: 13.5rem;
  max-height: 21rem;
  width: 20rem;
  overflow-y: auto;
  // background-color: aqua;
}

.details-container .info-box ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-right: 1rem;
  // max-width: 2rem;
}

.details-container .info-box ul li img {
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  min-height: 5rem;
  background-color: gray;
  border-radius: 50%;
  margin-right: 2rem;
}

// Selected-genres-list scrollbar styling
.details-container .info-box ul::-webkit-scrollbar {
  // height: .85rem;
  width: 1rem;
}

.details-container .info-box ul::-webkit-scrollbar-track {
  background-color: #B9B9B9;
  border-radius: 1rem;
}
.details-container .info-box ul::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
  height: 70%;
}
