.details-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.details-container .left {
  margin-right: 2rem;
}

.details-container .info-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.details-container .info-box span{
  color: #aaa;
  margin-bottom: .75rem;
}

.details-container .info-box p {
  margin-left: 0.1rem;
}

.details-container .info-box ul {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  max-height: 13.5rem;
  width: min-content;
  overflow-y: auto;
}

.details-container .info-box ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-right: 2rem;
  // background-color: gray;
  // max-width: 2rem;
}

.details-container .info-box ul li img {
  width: 5rem;
  height: 5rem;
  background-color: gray;
  border-radius: 50%;
  margin-right: 2rem;
}

