#tag-list {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: first baseline;
  align-items: center;
  // background-color: blue;
}

.tag {
  display: flex;
  padding: .4rem .8rem;
  background-color: #fff;
  color: #000;
  border-radius: .8rem;
  font-size: 1.2rem;
  margin: .3rem .5rem;
  justify-content: center;
  align-items: center;
}