.year-container {
  height: 15rem !important;
}

#container .input {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#container .input input[type=number] {
  height: 3.5rem;
  width: 10rem;
  align-self: center;
  background-color: var(--secondary-purple-theme);
  border: none;
  border-radius: .4rem;
  outline: none;
  color: white;
  padding: 0 .4rem 0 .7rem;
  // padding: 0 2.4rem 0 .7rem;
  &:focus {
    border: 1px solid white;
  }
  &::placeholder {
    color: #CCC;
    font-size: 1.4rem;
  }
}

#container .input .clear-text {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: opacity .3s;
  &:hover {
    opacity: .6;
  }
}
