.results {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: 500;
}

.results ul {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.results ul li {
  position: relative;
  // original background img height is 28rem 
  height: 24rem;
  width: 100%;
  max-width: 50rem;
  margin-bottom: 2rem;
  border-radius: .4rem;
  display: flex;
  overflow: hidden;
  list-style: none;
  background-color: rgb(34, 34, 34);
  cursor: pointer;
  transition: transform .3s;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.results ul li .background-img { 
  image-rendering: optimizeSpeed;
  height: 24rem;
  max-height: 24rem;
  width: 100%;
  max-width: 50rem;
  position: absolute;
  top: 0;
  border-radius: .4rem;
  background-color: black;
  filter: blur(1.5px) grayscale(30%) opacity(40%);
  z-index: 1;
}

.results ul li .poster-img {
  height: 20rem;
  width: 13.3rem;
  max-width: 154px;
  align-self: center;
  margin: 0 2rem;
  border-radius: .4rem;
  background-color: #ccc;
  font-size: 1rem;
  z-index: 2;
} 

.results ul li .info {
  flex: 3;
  // background-color: blue;
  z-index: 3;
}

.results ul li .info h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}