.results {
  margin-top: 2rem;
}
.results .results-title {
  font-size: 4rem;
  font-weight: 500;
}

.results .card-list {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
}
