.results {
  margin-top: 2rem;
}
.results .results-title {
  font-size: 4rem;
  font-weight: 500;
}

.results .card-list {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.results .card-list .card {
  position: relative;
  // original background img height is 28rem 
  height: 24rem;
  width: 100%;
  max-width: 55rem;
  margin: 0 2rem 2rem 2rem;
  border-radius: .4rem;
  display: flex;
  overflow: hidden;
  list-style: none;
  background-color: rgb(34, 34, 34);
  cursor: pointer;
  transition: transform .3s;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.results .card-list .card .background-img { 
  image-rendering: optimizeSpeed;
  height: 24rem;
  max-height: 24rem;
  width: 100%;
  max-width: 55rem;
  position: absolute;
  top: 0;
  border-radius: .4rem;
  background-color: black;
  filter: blur(1.5px) grayscale(30%) opacity(40%);
  z-index: 1;
}

.results .card-list .card .poster-img {
  height: 20rem;
  width: 13.3rem;
  align-self: center;
  margin: 0 2rem;
  border-radius: .4rem;
  background-color: #ccc;
  font-size: 1rem;
  z-index: 1;
} 

.results .card-list .card .info {
  flex: 3;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: space-around;
  padding-top: 0;
  // align-items: center;
  margin: 1.5rem 2rem 1.5rem 0;// remove when more items get added
  // background-color: blue;
}

.results .card-list .card .info h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
}

.results .card-list .card .info p {
  font-size: 1.2rem;
  text-align: justify;
  overflow: hidden;
  // width:100px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  // background-color: blue;
}

.results .card-list .card .info .bottom {
  display: flex;
  justify-content: space-between;
}



// MEDIA QUERIES
@media(max-width: 630px) {
  .results .card-list .card {
    margin: 0 0 2rem 0;
  }
  .results .card-list .card .poster-img {
    width: 10rem;
    height: 16.7rem;
  }
}