#container {
  position: relative;
  height: 22rem;
  width: 35rem;
  background-color: var(--purple-theme);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1.4rem;
  border-radius: .4rem;
}

#container strong {
  position: absolute;
  font-size: 2.4rem;
  font-weight: 500;
  top: 1rem;
}

#container > span {
  margin-top: 3rem;
  color: #B9B9B9;
}

#container button {
  height: 3.5rem;
  border-radius: .4rem;
  background-color: var(--secondary-purple-theme);
  color: #fff;
  transition: opacity .3s;
  &:hover {
    opacity: .6;
  }
}

// MODAL styling
.modal {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: .4rem;
  background-color: #333;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(71, 71, 71, 0.75); 
}
.modal button {
  color: #ccc;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  background: none;
  border: none;
  transition: opacity 0.3s;
  &:hover {
    opacity: .6;
  }
}

.modal .genres-container {
  width: 30rem;
  margin: 0 1.5rem;
}

.modal .genres-container strong {
  font-size: 2rem;
  color: #eee;
}

.modal .genres-container ul {
  border: 2.5px solid #aaa;
  border-radius: .4rem;
  height: 20rem;
  overflow-y: auto;
  padding: 1rem 1rem;
}

.modal .genres-container ul li {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #aaa;
}

.modal .not-include ul li span{
  text-decoration: line-through;
}

.modal .genres-container ul li input{
  height: 2.5rem;
  width: 2.5rem;
}

// MODAL MEDIA QUERIES
@media(max-width: 1200px) {
  .modal {
    top: 16%;
    bottom: 16%;
    left: 10%;
    right: 10%;
  }
}
@media(max-width: 720px) {
  .modal {
    top: 10%;
    left: 2.5%;
    right: 2.5%;
    bottom: 10%;
  }
}
@media(max-width: 460px) {
  .modal {
    padding-top: 2rem;;
  }
  .modal button{
    top: .2rem;
    right: .2rem;
  }
}

// END MODAL styling

#container .selected-genres-list {
  display: flex;
  // background-color: #333;
  overflow-x: auto;
}
// Selected-genres-list scrollbar styling
#container .selected-genres-list::-webkit-scrollbar {
  height: .85rem;
}

#container .selected-genres-list::-webkit-scrollbar-track {
  background-color: #B9B9B9;
  border-radius: 1rem;
}
#container .selected-genres-list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
}

// END Selected-genres-list scrollbar styling

#container .selected-genres-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: var(--secondary-purple-theme);
  margin-right: 1.5rem;
  margin-bottom: .3rem;
  padding: .25rem .6rem .25rem .8rem;
  font-size: 1.5rem;
  border-radius: .8rem;
}

#container .selected-genres-list li span {
  color:white;
  width: max-content;
}

#container .selected-genres-list li .remove-genre-icon {
  color: white;
  height: 2rem;
  width: 2rem;
  margin-left: 1.5rem;
  cursor: pointer;
  transition: opacity .3s;
  &:hover {
    opacity: .6;
  }
}



// MEDIA QUERIES 
@media (max-width: 640px) {
  #container .selected-genres-list::-webkit-scrollbar {
    height: .5rem;
  }
  
}