.details-container .info-bottom .network-list {
  flex-direction: row;
  width: max-content;
  flex-wrap: wrap;
  max-width: 80vw;
  justify-content: center;
}

.details-container .info-bottom ul li .network-img {
  max-width: 12rem;
  width: auto;
  height: auto;
  border-radius: 0;
  background-color: transparent;
}
@media(max-width: 520px) {
  .info-top-tv {
    margin: 0 auto;
    flex-direction: column;
  }
}

