#container span span {
  border-bottom: .2rem solid white;
  padding-bottom: 0.2rem;
  padding-left: .3rem;
  padding-right: .3rem;
}

#container .certifications-container {
  display: flex;
  justify-content: space-between;
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#container .certifications-container div {
  border-radius: .4rem;
  border: .2rem solid transparent;
  width: 4.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  opacity: .6;
  transition: opacity .3s;
  filter: grayscale(70%);
}
#container .certifications-container .not-selected {
  &:hover {
    opacity: .8;
    filter: grayscale(20%);
    }
}

#container .certifications-container .selected {
  opacity: 1;
  filter: grayscale(0);
  border-color: white;
  
}