#recommend {
    display: flex;
    flex-direction: column;
    padding: 0 5% 0 5%;
    min-height: 105vh;
}

#recommend .description-container {
    display: flex;
    flex-direction: column;
    min-height: 30rem;
    justify-content: space-evenly;
    margin-top: 1rem;
}

#recommend .description-container span {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 4rem;
}

#recommend .description-container .top {
    display: flex;
    justify-content: space-between;
}

#recommend .description-container .top .radio-container {
    border: 0.24rem solid #575757;
    border-radius: 1.3rem;
}

#recommend .description-container .top button {
    width: 15rem;
    height: 4rem;
    color: white;
    border: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    // border-color: #575757;
}

#recommend .description-container .top button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-left: -0.2rem;
}

#recommend .description-container .input .search-icon {
    position: absolute;
    margin-top: .5rem;
    margin-left: 1rem;
}

#recommend .description-container .input input {
    height: 5rem;
    width: 100%;    
    border-radius: 1rem;
    background: linear-gradient(
        to right, 
        var(--red-theme) 22%, 
        var(--purple-theme)
    );
    border: none;
    color: white;
    font-size: 2.4rem;
    padding-left: 6rem;
}
#recommend .description-container .input input::placeholder {
    color: #CCCCCC;
}
#recommend .description-container input:focus {
    outline: none;
}
.description-container .input input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#recommend .filters-container .filters-block-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 4rem;
}

#recommend .filters-container .filters-block-header div:first-child {
    position: relative;
    cursor: pointer;
    // background-color: gray;
    padding: 1rem 4rem 0 1rem;
    font-size: 2.4rem;
    font-weight: 500;
    transition: opacity .3s;
    user-select: none;
    &:hover {
        opacity: .7;
    }
}

.filters-container .filters-block-header div .arrow {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin-left: .4rem;
}

.filters-container .filters-block-header .clear-filters-btn {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background-color: #FFF2F2;
    color: #FF3150;
    border-radius: .4rem;
    margin-bottom: .3rem;
    margin-right: 1rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: opacity .3s;
    &:hover {
        opacity: .7;
    }
}

#recommend .filters-container .filters-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: .2rem solid #fff;
    border-radius: .4rem;
    // border-top: none;
    padding: .8rem 1rem;
    // animation: swing-show 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-show 0.5s both;
}

#recommend .filters-container .remove-filters-block {
    animation: swing-fade 0.5s both;
}

// Media Queries
@media (max-width: 600px) {
    #recommend .filters-container .filters-block-header {
        padding: 0 .3rem;
    }
}
@media (max-width: 920px) {
    #recommend .description-container {
        min-height: 40rem;
    }

    #recommend .description-container .top {
        flex-direction: column;
    }
    #recommend .description-container .top .radio-container {
        align-self: center;
        order: 1;
        margin-bottom: 3rem;
    }
    #recommend .description-container .top span {
        order: 2;
    }
}

@media (max-width: 360px) {
    #recommend .filters-container .filters-block {
        padding: .1rem;
    }
}


// animations 
@keyframes swing-show {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}
@keyframes swing-fade {
    0% {
        transform: rotateX(-70deg);
        transform-origin: bottom;
        opacity: 1;
    }
    100% {
        transform: rotateX(0);
        transform-origin: bottom;
        opacity: 0;
    }
  }
  
  