#recommend {
    display: flex;
    flex-direction: column;
    padding: 4rem 5% 0 5%;
    min-height: 100vh;
}

#recommend header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: red;
}

#recommend header .logo {
    display: flex;
    align-items: center;
}

#recommend header .logo img {
    height: 100px;
    margin-right: 2rem;
    margin-top: -20px;
}

#recommend header .logo h1 {
    font-size: 4rem;
    text-transform: uppercase;
    background: linear-gradient(
        to right, 
        var(--red-theme) 22%, 
        var(--purple-theme)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#recommend header .logo h1 span {
    margin-left: .3rem;
    font-size: 2.5rem;
}

#recommend header .back {
    color: #fff;
    transition: opacity .3s;
}

#recommend header .back:hover {
    opacity: .6;
}


#recommend .description-container {
    display: flex;
    flex-direction: column;
    min-height: 30rem;
    justify-content: space-evenly;
    margin-top: 1rem;
    // background-color: gray;
}

#recommend .description-container span {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 4rem;
}

#recommend .description-container .top {
    display: inline-flex;
    justify-content: space-between;
}

#recommend .description-container .top button {
    width: 15rem;
    height: 4rem;
    color: white;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-color: #28C7FA;
}

#recommend .description-container .top button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-left: -0.2rem;
}

#recommend .description-container .input .search-icon {
    position: absolute;
    margin-top: .5rem;
    margin-left: .5rem;
}

#recommend .description-container .input input {
    height: 5rem;
    width: 100%;    
    border-radius: 1rem;
    background: linear-gradient(
        to right, 
        var(--red-theme) 22%, 
        var(--purple-theme)
    );
    border: none;
    color: white;
    font-size: 2.4rem;
    padding-left: 5rem;
}

#recommend .description-container .input input::placeholder {
    color: #CCCCCC;
}

#recommend .description-container input:focus {
    outline: none;

}

.description-container .input input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}


@media (max-width: 600px) {
    #recommend header .logo h1 {
        display: none;
    }
}