#container .react-select__control {
  height: 3.5rem;
  min-height: 3.5rem;
  background-color: var(--secondary-purple-theme);
  border: none;
  box-shadow: none;
  cursor: text;
  &--is-focused {
    border: 1px solid white;
    &:hover {
      border: 1px solid white;
    }
  }
}

#container .react-select__value-container {
  margin-top: -0.3rem;
  padding-top: 0;
}

#container .react-select__input {
  color: #fff;
}
#container .react-select__placeholder {
  color: #CCC;
  font-size: 1.4rem;
}

#container .react-select__indicator {
  margin-top: -.2rem;
  fill: white;
  stroke: white;
  color: white;
  transition: opacity .3s;
  cursor: pointer;
  &:hover {
    opacity: .6;
  }
  &--is-focused {
    opacity: .6;
  }
}
#container .react-select__indicator-separator {
  margin-top: 7px;
  height: 2rem;  
}


#container .react-select__menu {
  font-size: 1.4rem;
  background-color: #ddd;
}
#container .react-select__option {
  font-size: 1.4rem;
  color: rgb(100, 100, 100);
  font-weight: 500;
  cursor: pointer;
  background-color: #ddd;
  transition: opacity .3s ;
  &:hover {
    opacity: .8;
  }
}

#container article {
  display: flex;
  height: 3rem;
  align-items: center;
}

#container article img {
  width: 4rem;
  height: 3.8rem;
  border-radius: .4rem;
  margin-right: 1rem;
  background-color: white;
}
