#details {
  padding: 0 5%;
}

.background-img {
  width: 100%;
  max-width: 1500px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  filter: grayscale(40%) opacity(75%);
  
  // fade out 
  mask-image: linear-gradient(
    to bottom, rgba(0,0,0,1), rgba(0,0,0,0)
  );
}

#details .header-info {
  // border: 1px solid white;
  margin: 2rem auto;
  display: flex;
  padding: 4rem;
}

#details .header-info .poster {
  // width: 40%;
  max-width: 185px;
  // min-width: 80px;
  margin-right: 4rem;
  border-radius: 2rem;
  background-color: #ccc;
}

#details .header-info .info {
  // background-color: gray;
  display: flex;  
  height: max-content;
  // flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

#details .header-info .info h2 {
  margin-top: .2rem;
  margin-bottom: 2rem;
}

#details .header-info .info p {
  font-size: 1.4rem;
  text-align: justify;
  margin-bottom: 2rem;
}



// MEDIA QUERIES

@media(max-width: 720px) {
  #details .header-info {
    padding: 2rem;
  }

  #details .header-info .poster {
    margin-right: 2rem;
  }
}

@media(max-width: 600px) {
  .background-img {
    height: 50vh;
  }

  #details .header-info {
    padding: 0;
  }
}

@media(max-width: 500px) {
  #details .header-info .poster {
    width: 13.2rem;
    height: 19.8rem;
  }
}