#details {
  padding: 0 5%;
}

.background-img {
  width: 100%;
  max-width: 2000px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  filter: grayscale(40%) opacity(75%);
  
  // fade out 
  mask-image: linear-gradient(
    to bottom, rgba(0,0,0,1), rgba(0,0,0,0)
  );
}

#details .header-info-container {
  margin: 2rem 0;
  display: flex;
  padding: 4rem;
  // width: 100%;
}

#details .header-info-container .poster {
  // width: 40%;
  min-width: 160px;
  min-height: 25rem;

  max-width: 185px;
  max-height: 30rem;
  margin-right: 4rem;
  border-radius: 2rem;
  background-color: #ccc;

  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

#details .header-info-container .info {
  // background-color: gray;
  display: flex;  
  flex-direction: column;
}

#details .header-info-container .info h2 {
  margin-top: .2rem;
  margin-bottom: 1rem;
  // font-size: 2rem;
  // font-family: 'Montserrat', sans-serif;
}

#details .header-info-container .info p {
  font-size: 1.4rem;
  text-align: justify;
  margin-bottom: 2rem;
}

#details .header-info-container .info .info-bottom {
  display: flex;
}

#details .header-info-container .info .info-bottom .genres-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // background-color: red;
  width: 70%;
}

#details .menu-container {
  margin: 2rem 4rem;
  // background-color: #ccc;
}

#details .menu-container .menu-options-container {
  display: flex;
  list-style: none;
  width: 50rem;
  justify-content: space-between;
  // padding-bottom: .5rem;
  // border-bottom: 0.1rem solid white;
}

#details .menu-container .menu-options-container li {
  text-transform: capitalize;
  font-size: 2rem;
  cursor: pointer;

  transition: opacity .3s;
  &:hover {
    opacity: .7;
  }
}

#details .menu-container .menu-options-container .selected {
  color: var(--light-blue-theme);
  &:hover {
    opacity: 1;
  }
}

#details .menu-container h5 {
  margin-top: 3rem;
  
}

// MEDIA QUERIES
@media(max-width: 720px) {
  #details .header-info-container {
    padding: 2rem;
  }

  #details .header-info-container .poster {
    margin-right: 2rem;
  }

  #details .menu-container {
    margin: 2rem 2rem;
  }

  #details .menu-container .menu-options-container {
    width: 100%;
  }
}

@media(max-width: 600px) {
  .background-img {
    height: 50vh;
  }

  #details .header-info-container {
    padding: 0;
  }

  #details .header-info-container .info p {
    height: 15rem;
    padding-right: .5rem;
    overflow-y: auto;
  }

  #details .menu-container {
    margin: 4rem 0;
  }
}

@media(max-width: 500px) {
  #details .header-info-container .poster {
    width: 13.2rem;
    height: 19.8rem;
  }

  #details .header-info-container .info .info-bottom {
    // background-color: gray;
    margin-top: .5rem;
    justify-content: center;
    width: calc(100% + 15.2rem); 
    margin-left: -15rem; // width of the poster + margin
  }

  #details .header-info-container .info .info-bottom .genres-list {
    width: 60%;
    justify-content: center;
  }

  #details .menu-container .menu-options-container li {
    font-size: 1.6rem;
  }
}