#details {
  padding: 0 5%;
}

.background-img {
  width: 100%;
  max-width: 2000px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  filter: grayscale(40%) opacity(75%);
  
  // fade out 
  mask-image: linear-gradient(
    to bottom, rgba(0,0,0,1), rgba(0,0,0,0)
  );
}

#details .header-info {
  margin: 2rem 0;
  display: flex;
  padding: 4rem;
  // width: 100%;
}

#details .header-info .poster {
  // width: 40%;
  max-width: 185px;
  // min-width: 80px;
  max-height: 30rem;
  margin-right: 4rem;
  border-radius: 2rem;
  background-color: #ccc;
}

#details .header-info .info {
  // background-color: gray;
  display: flex;  
  flex-direction: column;
}

#details .header-info .info h2 {
  margin-top: .2rem;
  margin-bottom: 2rem;
  // font-size: 2rem;
}

#details .header-info .info p {
  font-size: 1.4rem;
  text-align: justify;
  margin-bottom: 2rem;
}

#details .header-info .info .info-bottom {
  display: flex;
  // width: 100%;
}

#details .header-info .info .info-bottom .genres-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // background-color: red;
  width: 70%;
}


// MEDIA QUERIES

@media(max-width: 720px) {
  #details .header-info {
    padding: 2rem;
  }

  #details .header-info .poster {
    margin-right: 2rem;
  }
}

@media (max-width: 630px) {
  #details .header-info .info p {
    max-height: 15rem;
    overflow-x: auto;
  }
}

@media(max-width: 600px) {
  .background-img {
    height: 50vh;
  }

  #details .header-info {
    padding: 0;
  }
}

@media(max-width: 500px) {
  #details .header-info .poster {
    width: 13.2rem;
    height: 19.8rem;
  }
}